@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
  margin: 0;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
html {
  visibility: hidden;
}
html.wf-active, html.loading-delay {
  visibility: visible;
}
img {
  border: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
p {
  letter-spacing: 0.08em;
  line-height: 2;
  font-family: 'Noto Serif JP', serif;
}
h2 {
  font-weight: 1000;
  font-size: 2.8em;
  font-family: 'Lora', serif;
}
h3 {
  font-weight: 1000;
  font-size: 1.7em;
  font-family: 'Lora', serif;
}
/* 「top」ページ ここから↓ */
body {
  font-size: 1.6em;
}
div.toplogo header {
  margin: 10% auto;
  width: 50%;
}
div.toplogo header img {
  width: 100%;
}
div.toplogo section {
  margin: 30% auto 0;
  width: 70%;
}
div.toplogo section strong {
  display: block;
  text-align: end;
  font-size: 0.9em;
}
div.toplogo section span {
  text-align: center;
  display: block;
  margin-top: 10%;
  font-size: 1.5em;
}
body > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.toplogo {
  width: 25%;
}
div.top {
  width: 75%;
  position: relative;
}
div#topimage ul {
  position: relative;
  list-style: none;
  padding-left: 0%;
}
div#topimage ul li {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
}
div#topimage ul li.now {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
}
div#topimage ul li img {
  width: 100%;
  height: auto;
}
/*ここから「top」nav*/
div.top div.nav {
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
}
div.nav nav {
  width: 70%;
  padding: 2% 2%;
}
div.nav nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.nav nav ul li {
  width: 20%;
}
div.nav nav ul li a {
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Noto Serif JP', serif;
  padding-top: 2%;
}
div.sns {
  width: 30%;
  border-left: 2px solid #000;
  box-sizing: border-box;
  padding: 0 5%;
}
div.nav div.sns p {
  font-weight: 800;
  text-align: center;
  padding-top: 5%;
}
div.nav div.sns ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.nav div.sns ul li {
  width: 20%;
}
div.nav div.sns ul li img {
  display: block;
  width: 100%;
}
/*ここから「top」メイン*/
main {
  width: 100%;
}
main section {
  width: 91%;
  margin: 15% auto;
}
.topmain {
  text-align: center;
}
main section.topconcept p {
  line-height: 2.5;
  margin-top: 2%;
}
main section.topconcept p span a {
  text-decoration: none;
}
main section.topconcept > p span {
  display: inline-block;
  text-align: center;
  cursor: pointer; /* カーソル   */
  padding: 5%;
  color: #000;
  border-radius: 50%;
  background: #fff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #437d5c;
  box-sizing: border-box;
  margin: 4% 0;
}
main section.topconcept > p span:hover {
  background: #437d5c;
  color: #fff;
}
/*ここから「top」gift・「top」lifeページ*/
.gl h3, .topgallery h3 {
  position: relative;
  padding: 0.5em;
  background: #db423f;
  color: white;
}
.gl h3::before, .topgallery h3::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}
main section.gl {
  border: 6px solid #437d5c;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 4%;
}
main section.topgift div:first-child, .toplife div:last-child {
  margin: auto;
}
main section.topgift div:last-child img, .toplife div:first-child img {
  width: 100%;
}
main section.gl p {
  margin-top: 15%;
}
main section.gl a {
  text-decoration: none;
}
main section.gl div p span {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 10% 30%;
  color: #000;
  border-radius: 50%;
  background: #fff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #437d5c;
  box-sizing: border-box;
  margin-top: 20%;
}
main section.gl div p span:hover {
  background: #437d5c;
  color: #fff;
}
/*ここから「top」Instagram*/
main section.topgallery h3 {
  width: 25%;
  margin: 0 auto 4%;
}
main section.topgallery div {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}
main section.topgallery div a{
  width: 22%;
}
main section.topgallery > p:last-child span {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 5% 5%;
  color: #000;
  border-radius: 50%;
  background: #fff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #437d5c;
  box-sizing: border-box;
  margin-top: 5%;
}
main section.topgallery > p:last-child span:hover {
  background: #437d5c;
  color: #fff;
}
/*****************************/
/*ここから共通のaside*/
/*****************************/
.commonaside {
  width: 91%;
  margin: 0 auto;
  position: relative;
}
.commonaside h3 span {
  font-size: 1.2em;
  color: #437d5c;
}
.commonaside h3 {
  text-align: center;
  position: relative;
  padding: 2% 0;
  border-top: solid 1px #325A8C;
  border-bottom: solid 1px #325A8C;
  width: 70%;
  margin: 0 auto 5%;
}
.commonaside h3::before, .commonaside h3::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 1px;
  height: calc(100% + 20px);
  background-color: #325A8C;
}
.commonaside h3::before {
  left: 10px;
}
.commonaside h3::after {
  right: 10px;
}
/*ここから青い部分*/
.sc {
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 5% 0;
}
.commonaside div {
  background: #6c848d;
  border-radius: 50px 50px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commonaside div p:first-child, .commonaside div p:last-child {
  width: 40%;
}
.commonaside div p:last-child img {
  width: 100%;
}
/*ここから「top」フッター*/
footer {
  width: 91%;
  margin: 0 auto;
}
.commonaddress {
  background-color: #336b80;
  border-radius: 0 0 50px 50px;
  padding:  5% 5% 5% 10%;
}
.commonaddress a{
	color: #fff;
	text-decoration: none;
}
ul.footer-menu  {
  width: 40%;
	display: flex;
	 justify-content: space-between;

}
ul.footer-menu li {
  list-style: none;

}
ul.footer-menu li a{
	widows: 100%;
	color: #fff;
	text-decoration: none;

}
footer > p{
	text-align: center;
}
/* 「top」ページ ここまで↑ */
/********************/
/*下層ページ共通ナビ*/
/********************/
.commontop {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
div.commonnav {
  width: 70%;
  display: flex;
}
.commonnav header {
  width: 25%;
  padding: 1.5% 0 0 10%;
}
.commonnav header h1 {
  width: 50%;
  height: auto;
}
.commonnav nav {
  width: 75%;
}
.commonnav nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.commonnav nav ul li {
  width: 20%;
}
.commonnav nav ul li a {
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Noto Serif JP', serif;
  padding: 20% 0;
}
div.commonsns {
  width: 30%;
  display: flex;
  padding: 2% 0;
}
.commonsns ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40%;
}
.commonsns p {
  width: 40%;
  color: #db423f;
}
/********************************/
/* 「concept」ページ ここから↓ */
/********************************/
.concept{
	width: 91%;
	margin: 0 auto;
	text-align: center;
}
.concept h2{
	padding: 16% 0 5%;
}
.concept p{
	padding-bottom: 10%;
}

/* 「concept」ページ ここまで↑ */
/*****************************/
/* 「gift」ページ ここから↓ */
/*****************************/
section.giftabout > div p {
  line-height: 3;
  padding: 4%;
}
section.giftabout > div {
  text-align: center;
}
/*ここから「gift」ブーケリボン*/
section.giftmain {
  color: #000;
  background-color: #fff;
  background-image: url("image/ribon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  padding: 6% 5%;
}
section.giftmain h3 {
  text-align: center;
}
.giftmain strong {
  font-size: 1.2em;
  border-bottom: double 5px #336b80;
}
.giftmain b {
  position: relative;
  display: inline-block;
  padding: 0 11%;
  font-size: 1.2em;
}
.giftmain b:before, .giftmain b:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 18%;
  height: 3px;
  border-top: solid 2px #db423f;
  border-bottom: solid 2px #db423f;
}
.giftmain b:before {
  left: 0;
}
.giftmain b:after {
  right: 0;
}
div.ga {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
}
div.mainbouquet {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
}
div.maingroup {
  padding-top: 25%;
}
.mainbouquet p:first-child {
  width: 50%;
  padding: 10% 0 0 10%;
}
.ga p:last-child {
  width: 50%;
  padding-left: 13%;
}
.ga p:first-child img {
  width: 100%;
}
.mainbouquet p:last-child img {
  width: 100%;
}
/*ここからギフトのフォーム*/
section.giftmain > div:last-child {
  text-align: center;
  width: 100%;
}
section.giftmain > div:last-child p:first-child {
  display: block;
  position: relative;
  margin: 10% auto 2%;
  padding: 1% 0 5%;
  width: 70%;
  background: #f1f1f1;
}
section.giftmain > div:last-child p:first-child span {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 2%;
  margin: 0 0 5% -20px;
  width: calc(100% + 20px);
  color: white;
  background: #336b80;
}
section.giftmain > div:last-child p:first-child span:first-child:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #6eb3e0;
}
section.giftmain > div:last-child p:last-child {
  color: #db423f;
}
/*ボタン*/
section.giftmain > div p:nth-child(3) span {
  display: inline-block;
  text-align: center;
  cursor: pointer; /* カーソル   */
  padding: 4% 8%;
  color: #000;
  border-radius: 50%;
  background: #fff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #437d5c;
  box-sizing: border-box;
  margin: 6% 0 4%;
}
section.giftmain > div p:nth-child(3) span:hover {
  background: #437d5c;
  color: #fff;
}
/*ここからギャラリー*/
section.giftgallery {
  text-align: center;
}
section.giftgallery h3 {
  position: relative;
  background: #437D5C;
  box-shadow: 0px 0px 0px 5px #437d5c;
  border: dashed 2px white;
  padding: 0.4em 0.1em;
  color: #FFF;
  width: 50%;
  margin: 0 auto 4%;
}
section.giftgallery h3:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #193919;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
section.giftgallery div {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}
section.giftgallery div img {
  width: 22%;
}
section.giftgallery > p:last-child span a {
  text-decoration: none;
}
section.giftgallery > p:last-child span {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 4% 8%;
  color: #000;
  border-radius: 50%;
  background: #fff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #437d5c;
  box-sizing: border-box;
  margin: 7% 0;
}
section.giftgallery > p:last-child span:hover {
  background: #437d5c;
  color: #fff;
}
/*ここから補足事項*/
#gifttop {
  box-sizing: border-box;
  background-color: #fff;
  background-image: url("image/giftbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  background-position: bottom;
}
aside.giftcomment div {
  text-align: center;
  width: 50%;
  display: inline-block;
  margin-left: 30%;
  margin-bottom: 5%;
}
/* 「gift」ページ ここまで↑ */
/*****************************/
/* 「life」ページ ここから↓ */
/*****************************/
section.lifeabout {
  width: 91%;
  margin: 0 auto;
  text-align: center;
  padding-top: 15%;
  background-image: url(image/lifecar.jpg);
  color: #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 25% auto;
  background-position: right 26% top 5%;
}
main#lifetop section {
  margin: 0% auto 15%;
}
div.lifemainimg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15%;
}
.lifemainimg div {
  width: 33.3%;
}
.lifemainimg div:first-child {
  background-image: url(image/lifeimg1.jpg);
  color: #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% auto;
  padding: 30% 0;
  position: relative;
}
.lifemainimg div:first-child p {
  position: absolute;
  top: 4%;
  left: 13%;
}
.lifemainimg div:nth-child(2) {
  background-image: url(image/lifeimg2.jpg);
  color: #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% auto;
  padding: 30% 0;
  position: relative;
}
.lifemainimg div:nth-child(2) p {
  position: absolute;
  top: 55%;
  right: 4%;
}
.lifemainimg div:last-child {
  background-image: url(image/lifeimg3.jpg);
  color: #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% auto;
  padding: 30% 0;
  position: relative;
}
.lifemainimg div:last-child p {
  position: absolute;
  top: 1%;
  left: 4%;
}
p.lm {
  padding: 0.5em;
  color: #5d627b;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
p.lm b {
  font-size: 1.2em;
}
/*小見出し*/
main section.haco {
  position: relative;
  margin: 2em 0;
  padding: 5% 2%;
  border: solid 5px #437d5c;
  border-radius: 50px
}
.heading {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 6%;
  padding: 0 3%;
  line-height: 1;
  background: #FFF;
  color: #437D5C;
}
/*ここから選べるボリューム*/
.lifechoose > p {
  display: flex;
  justify-content: space-around;
}
.lifechoose > p b {
  position: relative;
  display: inline-block;
  padding: 0 6%;
  font-size: 1.2em;
  border-bottom: double 5px #db423f;
}
.lifechoose > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 3%;
}
.lifechoose > div span {
  color: #db423f;
  display: inline-block;
  padding-bottom: 2%;
}
/*ここからカレンダー*/
div.lifemenu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.lifecalendar, .lifefreshness {
  width: 40%;
}
.lifecalendar > div {
  display: flex;
  justify-content: space-around;
  padding: 8% 0;
}
.lifecalendar > div p b {
  border-bottom: double 5px #db423f;
  display: inline-block;
  margin-bottom: 15%;
  font-size: 1.2em;
}
/*ここからお花の鮮度*/
.lifefreshness p {
  padding-top: 8%;
}
.lifefreshness span {
  display: block;
  padding-top: 3%;
}
/*そのまま飾れる*/
.lifedecorate {
  background-image: url("image/flower.jpg");
  color: #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  padding: 0;
  margin: 0;
}
.lifedecorate h3 {
  padding-bottom: 35%;
}
.lifedecorate h3 span {
  position: absolute;
  display: inline-block;
  top: -27.5px;
  left: 6%;
  padding: 0 1%;
  line-height: 1;
  background: #FFF;
  color: #437D5C;
}
.lifedecorate p {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 0;
}
/*ここから申し込み*/
.lifecf {
  position: relative;
  width: 50%;
  margin: 5% auto;
}
.lifecf input[type='text'], .lifecf input[type='email'], .lifecf input[type='tel'],.lcfcontent textarea {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 1em 0.3em 0.3em 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: none;
  border-bottom: 3px solid #db423f;
  background: transparent;
}
.ef input[type='text']:focus, .ef input[type='email']:focus, .ef input[type='tel']:focus,.lcfcontent textarea:focus {
  border-bottom: 2px solid #437d5c;
  outline: none;
}
.lcf {
  display: flex;
  flex-wrap: wrap;
  padding: 2% 0;
}
.lcf p {
  width: 45%;
  color: #747070;
  text-align: left;
}
.lifecf > p{
	padding: 8% 0 0;
}
/*送信ボタン*/
.lifebutton {
  display: inline-block;
  text-align: center;
  cursor: pointer; /* カーソル   */
  padding: 5% 7%;
  background: #437d5c;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #437d5c;
  margin: 2% 0;
	border-radius: 60px;
}
.lifebutton:hover {
  color: #437d5c;
  background: #ffffff;
}
/*ご利用案内*/
.lifeabout aside{
	text-align: left;
	padding-left: 10%;
}
/* 「life」ページ ここまで↑ */
/********************************/
/* 「contact」ページ ここから↓ */
/********************************/
#contacttop {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #000;
  background-color: #fff;
  background-image: url("image/contactmain.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  background-position: 0 12%;
  padding: 17% 0;
}
article {
  margin: 0 auto;
}
article > div {
  margin: 60% 0 10%;
}
.cf {
  position: relative;
  width: 100%;
  margin: 4% 3%;
}
/*白い背景と中の文字*/
.cf input[type='text'], .cf input[type='email'], .cf input[type='tel'], .cf textarea {
  font: 15px/24px 'Noto Serif JP', serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  padding-left: 10%;
  letter-spacing: 1px;
  border: 0;
}
.cf input[type='text']:focus, .cf input[type='email']:focus, .cf input[type='tel']:focus, .cf textarea:focus {
  outline: none;
}
.cf input[type='text']:focus::after, .cf input[type='email']:focus::after, .cf input[type='tel']:focus::after, .cf textarea:focus::after {
  outline: none;
}
.cf i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 5px;
  transition: 0.3s;
  color: #aaaaaa;
}
.cf::after {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -1px;
  content: '';
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #437D5C
}
/*ここから日時レッスン*/
input[type="date"] {
  width: 50%;
  position: relative;
  color: #aaa;
}
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.day p, .choose p {
  width: 30%;
  color: #747070;
}
.day {
  display: flex;
  flex-wrap: wrap;
}
.choose {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.choose div {
  width: 60%;
}
/*送信ボタン*/
.button {
  display: inline-block;
  text-align: center;
  cursor: pointer; /* カーソル   */
  padding: 5% 15%;
  background: #437d5c;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #437d5c;
  margin: 5% 0;
}
.button:hover {
  color: #437d5c;
  background: #ffffff;
}
/* 「contact」ページ ここまで↑ */
